<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && registerNewUser()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>

  <hr>

  <div class="mb-3">
    <label style="margin-right:10px">I am a: </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender">
      Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender">
      Female
    </label>
  </div>

  <!-- Username Field -->
  <app-text-input
    [formControl]="$any(registerForm.controls['username'])" 
    [label]="'Username'"></app-text-input>

  <!-- Known As Field -->
  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])" 
    [label]="'Known As'"></app-text-input>

  <!-- Date of Birth Field -->
  <app-date-picker
    [maxDate]="maxDate"
    [formControl]="$any(registerForm.controls['dateOfBirth'])" 
    [label]="'Date of Birth'"></app-date-picker>

  <!-- City Field -->
  <app-text-input
    [formControl]="$any(registerForm.controls['city'])" 
    [label]="'City'"></app-text-input>

  <!-- Country Field -->
  <app-text-input
    [formControl]="$any(registerForm.controls['country'])" 
    [label]="'Country'"></app-text-input>

  <!-- Password Field -->
  <app-text-input
    [type]="'password'"
    [formControl]="$any(registerForm.controls['password'])" 
    [label]="'Password'"></app-text-input>

    <!-- Confirm Password Field -->
    <app-text-input
      [type]="'password'"
      [formControl]="$any(registerForm.controls['confirmPassword'])" 
      [label]="'Confirm Password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">{{error}}</li>
      </ul>
    </div>

  <!-- Buttons: [Register] [Cancel] -->
  <div class="text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<!--
  Outputs 'Form Value:'
  {
    "gender": "male",
    "username": "tester",
    "knownAs": "T. Ester",
    "dateOfBirth": "2005-03-15T05:00:00.000Z",
    "city": "Los Angeles",
    "country": "USA",
    "password": "test",
    "confirmPassword": "test"
  }
-->
<!-- <p>Form value: {{registerForm.value | json}}</p> -->
<!-- <p>Form status: {{registerForm.status | json}}</p> -->
